#pdfSuccessMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92vh;
        background-color: #f0f0f0;
}

#pdfSuccessMessage h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #27346b;
}

#pdfSuccessMessage p {
    font-size: 16px;
    margin-bottom: 20px;
}